.embla {
    overflow: hidden;
    width: 80vw;
}

.embla__container {
    display: flex;
    height: 60vh
}

.embla__slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    min-width: 0;
}