.grid {
    column-gap: .8rem;
    width: 90vw;
    column-count: 2;
}

@media screen and (min-width: 600px) {
.grid {
    column-count: 3;
}
}

@media screen and (min-width: 800px) {
.grid {
    column-count: 4;
}
}

.imageContainer {
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}