.menuBar {
    width: 100%;
    height: 5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    transition: top .2s linear, background-color .15s linear;
    /* transition-duration: .25s 0s; */
    top: 0;
    z-index: 10;
    background-color: transparent;
}

.up {
    background-color: black;
    transition-duration: .2s, 0s;
    border-bottom: 1px solid #bac5c6;
}

.down {
    top: -5rem;
}

.name {
    font-size: 1.5rem;
    margin-left: 3rem;

}

.lighting {
    margin-right: 2rem;
}