.menuBar {
    --header-height: 5rem;
    width: 100%;
    height: var(--header-height);
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: transparent;
}

.name {
    font-size: 1.5rem;
    margin-left: 3rem;

}

.lighting {
    margin-right: 2rem;
}
