.menuBar {
    width: 100%;
    height: 6rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position:sticky;
    transition: top .25s linear;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.up {
    border-bottom: 1px solid #bac5c6;
}

.down {
    top: -6rem;
}