
.bodyText {
  font-family: 'Geist';
  white-space: pre-wrap;
  font-weight: 450;
  line-height: 150%;
  letter-spacing: .5px;
}

.details {
  margin: 1rem 0;
}

.credits {
  text-align: right;
}

.description {
  margin: 2rem 0;
  max-width: 500px;
  text-align: justify;
  max-width: 600px;
}

.descriptionContainer {
  display:flex;
  justify-content: center;
}

.prev {
  position: absolute;
  left: 0;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.next {
  position: absolute;
  right: 0;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.title {
  letter-spacing: -.5px;
  font-size: 3.5rem;
  margin: 4rem 0 2rem 0;
}