
.bodyText {
  font-family: 'Geist';
  font-weight: 450;
  line-height: 150%;
  letter-spacing: .5px;
  color: var(--text-body)
}

.details {
  margin: 1rem 0;
}

.credits {
  text-align: right;
}

.descriptionContainer {
  margin: 1rem auto 2rem;
  max-width: 100%;
}

@media (min-width: 768px) {
  .descriptionContainer {
    max-width: 80%;
  }
}

@media (min-width: 1200px) {
  .descriptionContainer {
    max-width: 60%;
  }
}

.next {
  position: absolute;
  left: 0;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.prev {
  position: absolute;
  right: 0;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.title {
  letter-spacing: -.5px;
  font-size: 3.5rem;
  margin: 4rem 0 2rem 0;
}